<mat-toolbar color="primary">
  <h1>GYM Registration App</h1>
  <span class="example-spacer"></span>
  <button routerLink="/quiz" mat-raised-button color="accent" style="margin-right: 10px;">Quiz</button>

  <button routerLink="/payement" mat-raised-button color="accent" style="margin-right: 10px;">Payment</button>

  <button routerLink="/list" mat-raised-button color="accent">View Enquiries</button>

</mat-toolbar>


<div style="height:100%" class="container mt-4">
  <router-outlet> </router-outlet>
</div>

<br> <br><br><br><br>
<br> <br><br><br><br>
<br> <br><br><br><br>
<br> <br><br><br><br>
<br> <br><br><br><br>
<br> <br><br><br><br>
<br> <br><br><br><br>
<br> <br><br><br><br>
<br> <br><br><br><br>


<div style="background-color: #3f51b5;color:#fff;" class="container-fluid">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">

      <span class="mb-3 mb-md-0 text-light"> 2023-2024 Fitness First</span>
    </div>

    <ul class="col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></li>
      <li class="ms-3"><i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i></li>
      <li class="ms-3"><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></li>
    </ul>
  </footer>
</div>

<lib-ng-toast></lib-ng-toast>
<ng-confirm></ng-confirm>